/* fonts */
$font-base: 'Roboto Condensed', sans-serif;
$font-title: 'Roboto', sans-serif;

/* colors */
$color-white: #FFFFFF;
$color-red-dark: #770302;
$color-red-light: #B70021;
$color-background-black: #0B0B0B;
$color-text-grey: #363636;
$color-text-grey-light: #959595;
$color-text-black: #181818;