@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

body {
  background-color: $color-background-black;
  color: $color-white;
  font-size: 24px;
  line-height: 28px;
  font-family: $font-base;
  font-weight: 400;
}

.header {
  height: 100vh;
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  right: 0;
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    width: 60px;
    height: 60px;
    border: 1px solid $color-white;
    margin-top: 31px;
    padding: 17px 12px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &__line {
      width: 36px;
      height: 2px;
      background-color: $color-white;
    }
    &__line:nth-child(2) {
      margin-top: 11.5px;
      margin-bottom: 11.5px;
    }
  }
  &-content {
    &__title {
      font-family: $font-title;
      font-size: 96px;
      line-height: 112px;
      margin-bottom: 40px;
    }
    &__text {
      max-width: 284px;
      margin-bottom: 25px;
    }
  }
  &-drive__btn {
    max-width: 100%;
  }
}

.logo {
  padding-top: 36px;
  padding-bottom: 29px;
}

.drive__btn {
  @include drive-btn;
}

.footer {
  background-color: $color-red-dark;
  &__inner {
    text-align: center;
    padding-top: 83px;
    padding-bottom: 20px;
  }
  &__btn {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  & .drive__btn:hover {
    background-color: $color-text-grey-light;
  }
  &__menu {
    display: flex;
    justify-content: center;
    margin-top: 83px;
    font-weight: 700;
    flex-wrap: wrap;
  }
  &__menu-item {
    padding: 0 10px;
    position: relative;
  }
  &__menu-link {
    color: $color-white;
  }
  &__menu-item+&__menu-item::before {
    content: "|";
    position: absolute;
    left: -2px;
  }
}

.menu {
  background: $color-background-black;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  transition: all .5s;
  z-index: 3;
  &.active {
    left: 0;
  }
  &__close-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 31px;
    right: 15px;
    cursor: pointer;
  }
  &__close-btn::after,
  &__close-btn::before {
    content: "";
    width: 70px;
    height: 2px;
    background-color: $color-white;
    position: absolute;
    transform-origin: left;
  }
  &__close-btn::after {
    transform: rotate(-45deg);
    bottom: -1px;
  }
  &__close-btn::before {
    transform: rotate(45deg);
  }
  &__list {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  &__list a {
    display: inline-block;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    min-width: 368px;
    padding: 30px 25px 14px 0;
    color: $color-white;
    border-bottom: 3px solid $color-red-light;
    transition: all .5s;
  }
  &__list a:hover {
    color: $color-red-light;
    border-color: $color-white;
    transform: scale(1.2);
    margin-left: 37px;
  }
}

.slider__item {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider .slick-dots button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $color-background-black;
  border: none;
  padding: 0;
  font-size: 0;
  cursor: pointer;
  outline: none;
}

.slider .slick-dots .slick-active button {
  background-color: $color-white;
}

.slider .slick-dots li {
  display: inline-block;
  margin: 0 8px;
}

.slider .slick-dots {
  margin: -55px auto 0;
  position: relative;
  z-index: 2;
  max-width: 1220px;
  padding: 0 10px;
}

.statistics {
  margin: 160px 0 100px;
  &__items {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    text-align: center;
  }
  &__item__title {
    margin-bottom: 19px;
  }
  &__item__num {
    font-size: 96px;
    line-height: 112px;
    margin-bottom: 7px;
    font-family: $font-title;
  }
  &__item__num span {
    font-size: 24px;
    line-height: 28px;
    margin-left: 10px;
  }
  &__item__descr {
    color: $color-red-light;
  }
  &__item__num--speed span {
    display: inline-block;
    position: relative;
  }
  &__item__num--speed span::before {
    content: "+";
    position: absolute;
    top: -65px;
  }
}
